
$color: rgba(0,0,0, 0.4);
.myDiv{
  background-color: $color; /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}