
$color: rgb(10, 12, 146);
.myDiv{
    color: $color;
    height: 600px;
  //   background-image: url('../../assets/cover.jpg');
    
  // background-repeat: no-repeat;
  // background-size: cover;

}