

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgba(80, 171, 223, 0.822); */
    justify-content: center;
    text-align: center;
    font-size: 50px;
    position: relative;
  }


  